<div class="container wide">
    <div class="set-container">
        <div class="loader-container " [ngClass]="{'loading' : loading}">
            <div class="loader"></div>
        </div>
        <div class="header flex space-between row center">
            <h1>{{listTitle}}</h1>
            <div class="buttons-container">
                <mat-button-toggle-group value="{{gridView}}" #group="matButtonToggleGroup">
                    <mat-button-toggle value="grid_on" (click)="onToggleClick($event.target.innerText)"><mat-icon>grid_on</mat-icon></mat-button-toggle>
                    <mat-button-toggle value="list" (click)="onToggleClick($event.target.innerText)"><mat-icon>list</mat-icon></mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
        </div>
        
        <hr>
        <div class="results" *ngIf="cardList.length > 0">
            <div class="search-container">
                <form>
                    <mat-form-field class="example-full-width">
                        <mat-label>Search By Card Name</mat-label>
                        <input type="text"
                                placeholder="Ex: Charizard"
                                matInput
                                [formControl]="myControl"
                                [matAutocomplete]="auto"
                                [(ngModel)]="filteredValue"
                                >
                        <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
            <div class="flex row content-container five" *ngIf="group.value == 'grid_on'">
                <app-card
                    class="card"
                    *ngFor="let card of cardList | filter : filteredValue"
                    [card]="card"
                >
                </app-card>
            </div>
            <div class="flex row content-container five" *ngIf="group.value == 'list'">
                <table class="mytable">

                    <tr>
                        <th *ngFor="let column of displayedColumns">{{column}}</th>
                    </tr>
                    <tr *ngFor="let card of cardList | filter: filteredValue">
                        <td>
                            <div class="btn-container">
                                <button 
                                    mat-raised-button
                                    *ngIf="card.inCollection == false"
                                    (click)="onAdd(card)" 
                                    class="add"
                                >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7 14h-5v5h-4v-5h-5v-4h5v-5h4v5h5v4z"/></svg>
                                </button>
                                <button 
                                    mat-raised-button
                                    *ngIf="card.inCollection === true"
                                    (click)="onRemove(card)" 
                                    color="warn"
                                >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7 14h-14v-4h14v4z"/></svg>
                                </button>
                                
                            </div>
                        </td>
                        <td>
                            <a 
                                class="link"
                                (click)="onBaseClick(card.setID)"
                                
                            >
                                {{card.set.name}}
                            </a>
                            <div class="tooltip-image">
                                <img src="{{card.image}}" alt="">
                            </div>
                        </td>
                        <td>{{card.number}}</td>
                        <td>
                            <a (click)="onCardClick(card)" class="link">
                                {{card.name}}
                            </a>
                        </td>
                        <td>{{card.rarity}}</td>
                        <td>
                            <div class="flex row j-center">
                                <div class="type" *ngFor="let e of card.types">
                                    <img src="../../../assets/images/{{e}}.png" alt="">
                                </div>
                            </div>
                        </td>
                        <td>{{card.superType}}</td>
                        <td>{{card.subTypes[0]}}</td>
                        <td><a class="link flex column" href="{{card.priceLink}}" target="_blank">
                            <span *ngIf="card.prices.holofoil">{{card.prices.holofoil.market | currency }}</span>
                            <span *ngIf="card.prices.reverseHolofoil">{{card.prices.reverseHolofoil.market | currency }}</span>
                            <span *ngIf="card.prices.normal" >{{card.prices.normal.market | currency }}</span>
                        </a></td>
                    </tr>

                </table>

            </div>
        </div>
        <div class="no-results" *ngIf="cardList.length == 0">
            <h2>No Results</h2>
        </div>
        
    </div>
</div> 