<div class="search-component container content-container">
    <div class="search-container">
        <h1>Card Search</h1>
    
        <form class="example-form">
            <mat-form-field class="example-full-width">
            <mat-label>Search for a card</mat-label>
            <input matInput placeholder="Ex. Charmander" (keyup.enter)="onSearch($event)">
            </mat-form-field>
        </form>
        
        or <a class="link" [routerLink]="['set-list']">Browse By Set</a>

    </div>

    <div class="recently-viewd" *ngIf="recentlyViwed">
        <h2>Recently Viewed</h2>
        <div class="flex row content-container five">
            <app-card
                class="card"
                *ngFor="let card of recentlyViwed.reverse()"
                [card]="card"
                [showInCollection]="false"
            >
            </app-card>
        </div>
    </div>
    

</div>


