@import "../../../shared/styles/global-styles.scss";

.left-container,
.right-container {
    position: relative;
    // width: 50%;
    min-height: 500px;
}

.left-container {
    width: 35%;
    img {
        width: 100%;
        max-width: 500px;
    }
    .btn-container {
        text-align: center;
    }
}

.right-container {
    color: white;
    width: 65%;
    .content-container {
        padding-left: 100px
    };
    .right-con {
        padding-left: 50px;
    }
    .sub-title {
        font-size: 18px;
        font-weight: bold;
    }
    .card-title {
        position: relative;
        .hp {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 30px;
            .type {
                margin-top: 5px;
            }
        }
    }
    .prices {
        margin: 15px 0;
        .pricing {
            margin-bottom: 25px;
        }
        .last-updated {
            font-size: 12px;
        }
        .prices-container {
            margin-top: 15px;
        }
    }
    .a-icon {
        margin-right: 8px;
        position: relative;
        width: 100px;
        &.cost {
            width: 35px;
        }
        img {
            width: 100%;
        }
    }
    .abilities,
    .attacks,
    .rules {
        margin: 15px 0;
        .sub-title {
            position:relative;
            
            span {
                position: absolute;
                right: 0;
                font-size: 30px;
            }
        }
        .detail {
            margin: 10px 0 30px 0;
            position: relative;
            .desc {
                margin: 5px 0;
            }
            &::after {
                content: " ";
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: rgba(white, 12%);
                margin: 0 auto;
            }
        }
    }
    .final-details {
        margin: 15px 0;
        .detail {
            width: 33%;
            text-align: center;
        }
    }
}