<div id="footer">
    <div class="container wide">
        <div class="content">
            <p>Pokémon Card Manager by <strong><a class="link alt" href="https://www.linkedin.com/in/daniel-sarria/" target="_blank">Daniel Sarria</a></strong></p>
            <p>This website is not produced, endorsed, supported, or affiliated with Nintendo or The Pokémon Company.</p>
            <p><a class="link alt" href="https://pokemontcg.io/" target="_blank">API by  Pokémon TCG API</a></p>
        </div>        
    </div>
</div>
