@import "../../shared/styles/global-styles.scss";

#footer {
    position: relative;
    width: 100%;
    bottom: -70px;
    background-color: $primary;
    .content {
        padding: 40px 20px;
        color: white;
        text-align: center;
        font-size: 18px;
    }
}