@import "../shared/styles/global-styles.scss";

#dashboard {
    position: relative;
    width: 100%;
    top: 70px;
    padding: 30px 0;
    min-height: 80%;
    
    background-color:$background-color;
    .dashboard-container {
        position: relative;
        //top: 100px;
    }
}