

.card-container {
    position: relative;
    width: 100%;
    img {
        width: 100%;
    }
    .in-collection {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        img {
            width: 100%;
        }
    }
    transition: 150ms ease-in-out;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);   
    }
    
    
}

.btn-container {
    position: relative;
    bottom: 0px;
    left: 0px;
    z-index: 98;
    
}